@import "tailwindcss";
:root {
  --foreground: #171717;
}

@theme {
  --color-background: #f3f6f4;
  --color-surface: #ffffff;
  --color-primary: #34d399;
  --color-primaryHover: #1fc287;
  --color-secondary: #60a5fa;
  --color-accent: #fbbf24;
  --color-accentHover: #f59e0b;
  --color-text: #1f2937;
  --color-textSecondary: #6b7280;
  --color-border: #e5e7eb;
  --color-success: #6ee7b7;
  --color-error: #f87171;
  --color-errorHover: #e25959;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  font-family: var(--font-montserrat), sans-serif;
}

h1 {
  color: var(--color-text);
}

p {
  color: var(--color-text-secondary);
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: #00000049;
  border-radius: 200px;
  
}

.background-gradient{
  background: 
  radial-gradient(ellipse 80% 60% at 70% 20%, rgba(175, 109, 255, 0.85), transparent 68%),
  radial-gradient(ellipse 70% 60% at 20% 80%, rgba(255, 100, 180, 0.75), transparent 68%),
  radial-gradient(ellipse 60% 50% at 60% 65%, rgba(255, 235, 170, 0.98), transparent 68%),
  radial-gradient(ellipse 65% 40% at 50% 60%, rgba(120, 190, 255, 0.3), transparent 68%),
  linear-gradient(180deg, #f7eaff 0%, #fde2ea 100%)

}
