@import "tailwindcss";
:root {
  --foreground: #171717;
}

@theme {
  --color-background: #f3f6f4;
  --color-surface: #ffffff;
  --color-primary: #34d399;
  --color-primaryHover: #1fc287;
  --color-secondary: #60a5fa;
  --color-accent: #fbbf24;
  --color-text: #1f2937;
  --color-textSecondary: #6b7280;
  --color-border: #e5e7eb;
  --color-success: #6ee7b7;
  --color-error: #f87171;
  --color-errorHover: #e25959;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  font-family: var(--font-montserrat), sans-serif;
}

h1 {
  color: var(--color-text);
}

p {
  color: var(--color-text-secondary);
}
