@import "tailwindcss";
:root {
  --background: #F0F4F8;
  --foreground: #171717;
}

@theme {
  --color-background: #F3F6F4;
  --color-surface: #FFFFFF;
  --color-primary: #34D399;
  --color-primary-hover: #059669;
  --color-secondary: #60A5FA;
  --color-accent: #FBBF24;
  --color-text: #1F2937;
  --color-text-secondary: #6B7280;
  --color-border: #E5E7EB;
  --color-success: #6EE7B7;
  --color-error: #F87171;
}

body {
  height: 100%;
  background-color: var(--background);
  font-family: var(--font-montserrat), sans-serif;
}

